<h1>
  Edit
  <%= link_to @day do %>
    <%= @day.date.strftime("%B") %>
    <%= @day.date.day.ordinalize %>, <%= @day.date.year %>
  <% end %>
</h1>
<%= render "days/form" %>

<div class='schedule'>
  <h2 class='title'>
    Schedule
    <%= link_to "+", "#", class: "show pull-right", data: {target: ".new-schedule"} %>
  </h2>
  <% @day.activities.by_start.each do |act| %>
    <%= render "activities/form", day: @day, activity: act %>
    <%= link_to "<i class='fa fa-trash'></i>".html_safe, [@day, act], method: :delete, data: {confirm: "Are you sure?" } %>
    <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_day_activity_path(@day, act) %>
  <% end %>
</div>
