<div class="row">
  <h1>Today's Lesson</h1>
  <div class="row">
    <div class="col-md-12">
      <% @days.each do |day| %>
        <% if day.date == Date.today %>
          <ul>
            <h1><%= day.date.strftime("%m/%d/%Y") %></h1>
            <h1><%= day.link_to %></h1>

            <p><%= markdown(day.description) %></p>
          </ul>
        <% end %>
       <% end %>
    </div>
    <div class="col-md-12">
      <p>
        <%= link_to "Add a new lesson", new_day_path %>
      </p>
    </div>
    <div class="col-md-12">
      <h1> <%= link_to "View other lessons", days_path(@days) %>
    </div>
  </div>
