<h1>Code Builders Lessons!</h1>
  <%=  form_tag days_path, class: "form-inline", method: :get do %>
  <%= text_field_tag :query, params[:query], class: "form-control" %>

  <%= submit_tag "Search", class: "btn btn-primary" %>
    <% if params[:query].present? %>

      <%= link_to "clear", days_path %>
    <% end %>
  <% end %>

  <div class="col-md-12">
    <div class="row">
    <ul>
      <% @days.each do |day| %>
      <li><%= link_to day.date.strftime("%m/%d/%Y"), day_path(day) %></li>
    <% end %>
    </ul>
    <h1> <%= link_to "Return to Today's lesson", root_path %>
  </div>
</div>
<div class="test">
  <h1>test</h1>
</div>
