<div class='controls'>
  <%= link_to "<i class='fa fa-arrow-left'></i> Yesterday".html_safe, day_path(@day.yesterday), class: "pull-left" %>
  <%= link_to "Tomorrow <i class='fa fa-arrow-right'></i>".html_safe, day_path(@day.tomorrow), class: "pull-right" %>
  <%= link_to "<i class='fa fa-calendar'></i>".html_safe, all_days_path, class: "pull-center" %>
</div>
<article class='day'>
  <div class='body'>
    <h1 class='muted'>
      <%= date_to_s @day.date %>
      <small style='font-size: 28px;' class='muted'></small>
    </h1>

    <% if @day.persisted? %>
      <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_day_path(@day), class: "pull-right" %>
      <div>
        <%= markdown @day.body %>
      </div>
      <div class='schedule'>
        <h2 class='title'>
          Schedule
          <%= link_to "<i class='fa fa-plus'></i>".html_safe, "#", class: "show pull-right", data: {target: ".new-schedule"} %>
        </h2>
        <table>
          <% @day.activities.each do |act| %>
            <tr class='<%= "required-learning" if act.required_learning? %>'>
              <td width="120px"><%= act.start.strftime("%l:%M %p") %></td>
              <td width="120px"><%= act.end.strftime("%l:%M %p") %></td>
              <td>
                <%= link_to_if act.url.present?, act.body, act.url %>
                <% act.links.each do |link| %>
                  <%= link_to link.text, link.url %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class='new-schedule hide'>
        <%= render "activities/form", day: @day, activity: Activity.new(start: @day.date, end: @day.date) %>
      </div>
    <% else %>
      <%= link_to "<i class='fa fa-pencil'></i>".html_safe, new_day_path(date: @day.date), class: "pull-right" %>
      <div class="alert alert-notice">
        <h2 class='muted'>Nothing for this day yet...</h2>
      </div>
    <% end %>

  </div>
</article>
