<%= form_for [day, activity] do |f| %>
  <%= f.hidden_field :day_id, value: day.id %>
  <div class='form-group'>
    <%= f.datetime_select :start, minute_step: 5, ampm: true, start_hour: 8, end_hour: 22 %>
    <%= f.label :end, "-" %>
    <%= f.datetime_select :end, minute_step: 5, ampm: true, start_hour: 8, end_hour: 22 %>
  </div>
  <div class='form-group'>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <div class='form-group'>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class='form-group'>
    <%= f.label :required_learning do %>
      <%= f.check_box :required_learning %>
      Required Learning
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
